<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="editProfile.css">
    <link rel="stylesheet" type="text/css" href="AllSchedule.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="script.js"></script>
</head>
<body>
    
<div class='nav-class'>
    <nav>
    <img class = 'logo' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo">
    <div class = 'nav-classContent'> 
    <p onclick="window.location.href = 'doctor.html'">Doctor</p>
    <p onclick="window.location.href = 'hospital.html'">Hospitals</p>
    <p>Treatment</p>
    <p>Other Services</p>
    <p>About</p>
    </div>
    <div class = 'nav-classButton'>
        <button onclick="window.location.href='/travastraPlus'" class='nav-button-white'>Travastra Plus</button>
    <button class='nav-button'>Get a Quote</button>
    
    
    </div>
    <i class="fas fa-bars" onclick="ALERTFunction()"></i>
    </nav>
    </div>

    <div class = "alertP">
    <% if( status === "Successfully") { %>
      <div id="alert">
          <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <%= status %> Update
        </div>
   <% } %>
    </div>
<div class = "main">


<div class = "left-section">
<h1>Dashboard</h1>   
<p onclick="ProfileFunction()" id="pro">Profile</p>
<p>Appointment</p> 
<p onclick="ScheduleFunction()" id="edi">Create/Edit Schedule new </p>
<p onclick="AllSchedule()" id="ediA">All Schedule </p>

</div>




<form action="/updateUserData" method="POST">
<div class = "right-section" id= "Editpanel">
  
    
  

  <div class = "top">
    <h2>Accounts</h2>
  
    <button> Save change</button>
    </div>
    <div class = "mid">
      
        <div class = "first-mid">
          
        <h3>PROFILE PHOTO</h3>
        <p>Pick a photo from your system</p>
        <span><p>Add photo</p></span>
        </div>
       
        <div class = "second-mid">
            <h3>Name</h3>
            <input type="text" name="name" value= "<%= user.name %>">
        </div>        
</div>

    <div class = "down">
    <div class ="demo">
    <h3>Phone</h3>
    <input type="text" name="phone" value= "<%= user.phone %>">
    </div>
    <div class ="demo">
    <h3>Date of birth</h3>
    <input type="text" name="date" value= "<%= user.date %>">
    </div>

    <div class ="demo">
    <h3>Email</h3>
    <input type="text" name="email" value= "<%= user.email %>">
    </div>

    <div class ="demo">
    <h3>Timezone</h3>
    <input type="text">
    </div>
    <div class ="demo">
    <h3>gender</h3>
    <input type="text" name="gender" value= "<%= user.gender %>">
    </div>
    </div>
    <div class = "down-2">
        <div class ="demo">
        <h3>House no.</h3>
        <input type="text" name="house">
        </div>
        <div class ="demo">
        <h3>state</h3>
        <input type="text" name="state" value= "<%= user.state %>">
        </div>
        <div class ="demo">
        <h3>colony</h3>
        <input type="text" name="colony">
        </div>
        <div class ="demo">
        <h3>Country</h3>
        <input type="text" name="country" value= "<%= user.country %>">
        </div>
   
        <div class ="demo">
        <h3>City</h3>
        <input type="text" name="city" value= "<%= user.city %>">
        </div>
        </div>
    
        <div class = "down-3">
            <div class ="demo">
            <h3>Speciality</h3>
            <input type="text" name="speciality" value= "<%= user.speciality %>">
            </div>
            <div class ="demo">
            <h3>hospital</h3>
            <input type="text" name="hospital" value= "<%= user.hospital %>" >
            </div>
            <div class ="demo">
            <h3>Qualification</h3>
            <input type="text" name="qualification" value= "<%= user.qualification %>">
            </div>
            <div class ="demo">
            <h3>award</h3>
            <input type="text" name="awards" value= "<%= user.awards %>">
            </div>
            <div class ="demo">
            <h3>Treatments</h3>
            <input type="text" name="treatmentList" value= "<%= user.treatmentList%>">
            </div>
            <div class ="demo">
            <h3>Year of exprirence</h3>
            <input type="text" name="experience" value= "<%= user.experience %>">
        </div>
            </div> 
</div>
</form>

<!-- -------------------Addition of AddSchedule------------------ -->

<div class="container-login" style= "display: none;" id = "AddPanel">
    <div class="card-box">
      <div class="heading">
        <h1>Add Schedule</h1>
      </div>
      <form action="/addschedule" method="POST">
        <div class ="labels">
        <h2>Choose Available days</h2>
        </div>
        <label for="cars"></label>
        <div class ="days-class">
        <select name="days" id="cars" multiple>
           <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thrusday">Thrusday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
       </select>
        </div>

        <div class ="labels">
          <h2>Choose Hospitals</h2>
          </div>
        <div class="days-class">
          <select id="cars" name = "hospital">
            <option value="Appolo">Appolo</option>
            <option value="Esscort">Escort</option>
            <option value="jeevan">Jevvan</option>
            <option value="Fortis" selected>Fortis</option>
          </select>
        </div>
        <div class ="labels">
          <h2>Choose time</h2>
          </div>
        <div class = "time-class">
            <input type="time" id="appt" name="startTime"/>
            <input type="time" id="appt" name="endTime"/>
      </div>

      <div class="input-class">
        <input type="txt" placeholder=" Enter interval in minute " name = "interval"/>
      </div>

        <div class="button-class">
          <button>AddSchedule <i class="fa fa-arrow-right"></i>
          </button>
        </div>

      
      </form>
    </div>
  </div>




 <!-- -------Addition of all schedule-------- -->
 <div class = "all-ext"  style= "display: none;" id = "AllPanel">


    
  <% for(var i=0;i<schedule.length;i++){ %>
    
  <div class = "all">

  <div class = "left-details">
  <div class = "week">
      <h2><%= schedule[i].days %></h2>
  </div>
  <div class = "hos-time">
  <div class = "hospital-name">
  <p><%= schedule[i].hospital %></p>
  </div>
  <div class = "time-class">
  <p><%= schedule[i].startTime %> -</p><p> <%= schedule[i].endTime %></p>
  </div>
  </div>
  
  </div>
  <div class = "right-details">
      <button onclick="window.location.href='/travastraPlus'" class='button-sche'>Edit Slot</button>
      <button onclick="window.location.href='/travastraPlus'" class='button-sche'>Remove Slot</button>
      <button onclick="window.location.href='/travastraPlus'" class='button-sche'>View Details</button>
      <input type="checkbox" id="vehicle1" name="doctorchec" value="doctor">
  </div>
  

  
  </div>
  <% } %>
 

  <img onclick="ScheduleFunction()" id="edi" src="https://img.icons8.com/fluent/48/000000/add.png"/>








</div>

</div>





</body>
</html>