<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="script.js"></script>
    
  

</head>

<body>
    <div class='nav-class'>
        <nav>
          <div class = nav-img>
        <img class = 'logo' src="https://miro.medium.com/max/3150/1*6_fgYnisCa9V21mymySIvA.png" alt="logo">
      </div>
      <div class = "nav-heading">
        <h1>Medium API</h1>
      </div>
        </nav>
        </div>
        <form action="/refresh" method="get">
        <button id = "refresh">Refresh <i class="icon-refresh"></i></button>
        </form>
          <form action="/indexPage" method="POST">
            <h1  id = "heading"> Please write any tag value for search:</h1>
          <div class = "Search">

      
            <input type="text" id="fname" name="fname">
            <button>Search</button>
          </div>
        
        </form>
       


          <div class = "grid">

          <div class="container" id="container" >
            <h1>Blog Posts</h1>
      
            <% for(var i=0;i<stream.length;i++){ %>
             
              <% if(refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[0].metadata){ %>
          <a href = "/loadMore/<%=stream[i].postPreview.postId%>/<%= refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[0].metadata.id %>"> 
            <% } %> 
            
            <div class="blog-post">
              <h2 class="title">Creator Name :- <%=user[refrence[stream[i].postPreview.postId].creatorId].name %></h2>
              <p class="text"> <%=Math.floor(refrence[stream[i].postPreview.postId].virtuals.readingTime * 100) / 100 %> min read </p>
              <div class = "imagec" id = "imge">
                <!-- <img src="https://miro.medium.com/<%= sucess[1].metadata.coverImage.id %>"/> -->
             
                  
                  <% if(refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[0].metadata){ %>
                    <img src="https://miro.medium.com/<%= refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[0].metadata.id %>"/>

                <% } %>
               
                
              </div>

              <% if(refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[1].text){ %>
                <h2 class="title"><%= refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[1].text %> </h2>
            <% } %>
            <% if(refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[2]){ %>
              <p class="text"><%= refrence[stream[i].postPreview.postId].previewContent.bodyModel.paragraphs[2].text %> .....</p>
          <% } %>   


            
        
     
                <p class="text">Title :- <%=tag.name %></p>
               


                <!-- <p class="text">Created at :- <%=refrence[stream[i].postPreview.postId].createdAt %></p> -->
      
                <p class="text">Created at :- <%= new Date(parseInt(refrence[stream[i].postPreview.postId].createdAt)) %></p>
                <!-- <p class="text">Reading Time :- <%=Math.ceil(refrence[stream[i].postPreview.postId].virtuals.readingTime)%></p> -->
              
                <h2 class="title">POST ID :- <%=stream[i].postPreview.postId %></h2>
                <h2 class="title">Creator ID :- <%=refrence[stream[i].postPreview.postId].creatorId %></h2>
         
                <div class="user-info">


                    <% if(user[refrence[stream[i].postPreview.postId].creatorId]){ %>
                      <img src="https://miro.medium.com/<%= user[refrence[stream[i].postPreview.postId].creatorId].imageId %>" alt="pic"/>
                  <% } %>
        
                   
                    <span><%=user[refrence[stream[i].postPreview.postId].creatorId].name %></span>
                </div>

               
          
                <!-- <form action="/loadMore" method="POST">
                  <button id = "refresh" value = "<%=stream[i].postPreview.postId %>">LoadMore</button>
                  </form> -->

            </div>
            </a>
            
            <% } %>
            <form action="/indexPage" method="POST">
            <button id = "nxt">Next</button>
            </form>
        </div>
        <form action="/indexPage" method="POST">
        <div class = "related">
            <h1> Related Topics:----</h1>

            <% for(var i=0;i<sucess.length;i++){ %>
            <button name = "relatedbtn" value="<%= sucess[i].name %>"><%= sucess[i].name %></button>
            <!-- <img src="https://miro.medium.com/<%= sucess[i].metadata.coverImage.id %>"/> -->
            <% } %>


            <div class = "historybtn">
            <h1>History</h1>
            <% for(var i=0;i<dbs.length;i++){ %>
               <% if(dbs[i].fname){ %>
                <button name = "relatedbtn" value="<%= dbs[i].fname %>"><%= dbs[i].fname %> <p><i>Time:-</i> <%= dbs[i].createdAt %></p></button>
                 <% } else{ %>  
                  <button name = "relatedbtn" value="<%= dbs[i].relatedbtn %>"><%= dbs[i].relatedbtn %> <p><i>Time:-</i> <%= dbs[i].createdAt %></p></button>
            <% } %>
              <% } %>
            </div>  

            </div>
    </div> 
  </form>

</body>
</html>